<phpunit
	bootstrap="Tests/bootstrap-integration.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
			<testsuite name="integration" suffix=".php">
				<directory>./Tests/Integration</directory>
			</testsuite>
	</testsuites>
</phpunit>
